<article class="card mt-3 mb-3">
  <section class="card-header">
    <%= question.user.name_or_email %>
  </section>

  <div class="card-body">
    <h2><%= question.title %></h2>

    <section class="card-text">
      <p><%= l(question.created_at, format: :short)%></p>

      <div class="my-2">
        <%= render question.tags %>
      </div>

      <p class="my-2">
        <%= truncate strip_tags(question.body), length: 150 %>
      </p>
    </section>

    <div class="btn-group">
      <%= link_to t('global.button.show'), question_path(question), class: 'btn btn-primary rounded-0' %> 
      <%= link_to t('global.button.edit'), edit_question_path(question), class: 'btn btn-secondary' %>
      <%= button_to t('global.button.delete'), question_path(question),
      class: 'btn btn-danger rounded-0', method: :delete %>
    </div>
  </div>
</article>