<% provide :page_title, t('menu.questions') %>
<% currently_at t('menu.questions') %>
<div class="card">
  <div class="card-body">
    <h1 class="mb-4"><%= @question.title %></h1>

    <div class="lead my-3">
      <%= sanitize @question.body %>
    </div>

    <p><%= l(@question.created_at, format: :short)%></p>

    <div class="mb-3">
      <%= @question.user.gravatar %>
      <%= @question.user.name_or_email %>
    </div>

    <div class="card">
      <div class="card-body">
        <%= render 'comments/commentable', commentable: @question, comment: @comment, 
          html_id: 'questionComments' %>
      </div>
    </div>

    <div class="border-top border-bottom py-3 mt-3">
      <div class="btn-group">
        <%= link_to t('global.button.edit'), edit_question_path(@question), class: 'btn btn-secondary rounded-0' %>
        <%= button_to t('global.button.delete'), question_path(@question),
          class: 'btn btn-danger rounded-0', method: :delete %>
      </div>
    </div>
  </div>
</div>
<!-- <div class="btn-group">
  <%= link_to t('global.button.show'), question_path(@question), class: 'btn btn-primary rounded-0' %> 
  <%= link_to t('global.button.edit'), edit_question_path(@question), class: 'btn btn-secondary' %>
  <%= button_to t('global.button.delete'), question_path(@question),
    class: 'btn btn-danger rounded-0', method: :delete %>
</div> -->

<h2 class="my-3"><%= t('.write_answer') %></h2>

<%= render 'answers/form' %>

<h2 class="my-3"><%= t('.answers') %></h2>

<%= render partial: 'answers/answer', collection: @answers, as: :answer, locals: {question: @question} %>

