<%= tag.article class: 'mb-3 card border-0', id: dom_id(comment) do %>
  <div class="row g-0">
    <div class="col-sm-auto text-sm-center align-self-center">
      <%= comment.user.gravatar css_class: 'd-block w-5' %>
      <%= comment.user.name_or_email %>
    </div>
    <!-- <div class="mb-3 row">
      <div class="col-sm-2 col-form-label"> -->
    <div class="col-sm-2">
      <div class="card-body">
        <section class="card-text mb-3">
          <div class="col-sm-9">
            <p>
              <%= sanitize comment.body %>
            </p>           
          </div>
        </section>
      </div>
    </div>
  </div>
<% end %>