<%= tag.div do %>
  <%= form_with model: [commentable, (@comment || commentable.comments.build)],
  class: 'pt-3 border-top my-2' do |f| %>
    <%= render 'shared/errors', object: @comment %>

    <div class="mb-3 row">
      <div class="col-sm-2 col-form-label">
        <%= f.label :body %>
      </div>
      <div class="col-sm-10">
        <%= f.text_area :body, class: 'form-control form-control-sm' %>
      </div>
    </div>

    <%= f.submit t('global.button.submit'), class: 'btn btn-sm btn-primary' %>
  <% end %>
  
  <%= render commentable.comments.decorate %>
<% end %>