<div class="card mb-3">
  <div class="card-body">
<%= tag.article class: 'mb-3 card border-0', id: dom_id(answer) do %>

  <div class="row g-0">
    <div class="col-sm-auto text-sm-center align-self-center">
      <%= answer.user.gravatar size: 50, css_class: 'd-block' %>
      <%= answer.user.name_or_email %>
    </div>
    <div class="col-sm">
      <div class="card-body">
        <section class="card-text mb-3">
          <div class="col-sm-9">
           <div class="mt-2 mb-2">
              <%= sanitize answer.body %>
            </div>
            
            <p>
              <%= l(answer.created_at, format: :short)%>
            </p>
          </div>
        </section>

        <div class="btn-group">
          <%= link_to t('global.button.edit'), edit_question_answer_path(question, answer),
          class: 'btn btn-primary' %>
          <%= button_to t('global.button.delete'), question_answer_path(question, answer),
          class: 'btn btn-danger rounded-0', method: :delete, confirm: 'Are you shure?' %>
        </div>
      </div>
    </div>
  </div>
  
<% end %>

<%= render 'comments/commentable', commentable: answer, comment: @comment %>
</div>
  </div>