<% provide :page_title, 'Admin Users' %>
<% currently_at 'Users' %>

<h1 class="mb-4"><%= t '.title' %></h1>

<div class="btn-group mb-3">
  <%= link_to t('.download_zipped'), admin_users_path(format: :zip),
    class: 'btn btn-secondary' %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <th scope="row"><%= user.id %></th>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= user.updated_at %></td>
        </tr>
      </tbody>
    <% end %>
  </tbody>
</table>

<h2 class="mb-3"><%= t '.upload_zipped' %></h2>

<%= form_with url: admin_users_path do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :archive, t('.upload_form.archive')  %>
    </div>

    <div class="col-sm-10">
      <%= f.file_field :archive, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit t('.upload_form.submit'), class: 'btn btn-primary' %>
<% end %>